<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.login.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.example.login.pojo.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="OTHER" />
    <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="PARENT_IDS" property="parentIds" jdbcType="VARCHAR" />
    <result column="CHILD_NUM" property="childNum" jdbcType="DECIMAL" />
    <result column="LISTORDER" property="listorder" jdbcType="DECIMAL" />
    <result column="CRTD_DATE" property="crtdDate" jdbcType="TIMESTAMP" />
    <result column="UPDTD_DATE" property="updtdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    MENU_ID, MENU_NAME, MENU_TYPE, MENU_URL, MENU_CODE, PARENT_ID, PARENT_IDS, CHILD_NUM, 
    LISTORDER, CRTD_DATE, UPDTD_DATE
  </sql>
</mapper>